body {
  background: url('../img/grateful_bones.jpg') no-repeat;
  background-size: auto auto;
}

#mask{
    position:absolute; /* important */
    top:0px; /* start from top */
    left:0px; /* start from left */
    height:100%; /* cover the whole page */
    width:100%;  /* cover the whole page */
    display:none; /* don't show it '*/

    /* styling bellow */
    background-color: black;
}

.modal_window{
    position:absolute; /* important so we can position it on center later */
    display:none; /* don't show it */
    width: 100%;
    text-align: center;
    /* styling bellow */
    color:white;
}

/* style a specific modal window  */
#modal_window{
    padding:50px;
    border:1px solid gray;
    background: #246493;
    color:black;
    font-size: 100em;
    color: white;
}

      /*Demo Styles
      --------------------*/
      p{ padding:0 30px 30px 30px; color:#fff; font:14px "Courier", serif; line-height:150%; }
        p a{ color:#eee; font-weight:bold; }
      h3{ padding:30px 30px 20px 30px; }

      #content{ background:#111; background:none; width:450px; height:600px; margin:30px auto; text-align:center; }

